<!-- View Content -->
<!-- About the Developers and the Project -->
<!-- Sobre o Desenvolvedores e o Projeto -->

<section class="container-fluid">
	<hr>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-md-left text-lg-left">
			<div class="card container-fluid">
				<div class="card-block">
					<h2>Hackathon Campus Party ONU</h2>
            <h4>Projeto desenvolvido na Hackathon da Campus Party pela equipe  xxx</a></h4>
				</div>
				<div class="row">
					<br>
				</div>
			</div>
		</div>
	</div>
</section>